<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Product List</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styles.css}" />-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;&ndash;&gt;-->
<!--<div class="container">-->
<!--    <div class="header">-->
<!--        <h3>Get All Products</h3>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container">-->

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <div class="sidebar">-->
<!--        <h3>7 APIs</h3>-->
<!--        <nav>-->
<!--            <a th:href="@{/productservice/get-all-products}">Get all Products</a>-->
<!--            <a th:href="@{/productservice/get-single-product}">Get a Product</a>-->
<!--            <a th:href="@{/productservice/get-all-categories}">Get all Categories</a>-->
<!--            <a th:href="@{/productservice/get-in-category}">Get in Category</a>-->
<!--            <a th:href="@{/productservice/create-a-product}">Create a Product</a>-->
<!--            <a th:href="@{/productservice/update-a-product}">Update a Product</a>-->
<!--            <a th:href="@{/productservice/delete-a-product}">Delete a Product</a>-->
<!--        </nav>-->
<!--        <hr>-->
<!--        <div>-->
<!--            <a th:href="@{/productservice/index}" style="color: white"> Back to Home Page </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;  &ndash;&gt;-->

<!--    &lt;!&ndash; Category List &ndash;&gt;-->
<!--    <div class="product-list">-->

<!--        &lt;!&ndash; Product Card &ndash;&gt;-->
<!--        <div th:each="product : ${products}" class="product-card">-->
<!--            <div class="product-image">-->
<!--                <img th:src="${product.image}" th:text="${product.getTitle()}">-->
<!--            </div>-->
<!--            <div class="product-details">-->
<!--                <div class="product-title">-->
<!--                    <span th:text="${product.getTitle()}">Product Title</span>-->
<!--                </div>-->
<!--                <div class="product-price">-->
<!--                    <span th:text="${product.getCurrency()}" class="curr-span">Currency</span>-->
<!--                    <span th:text="${product.getPrice()}" class="price-span">Price</span>-->
<!--                </div>-->

<!--                &lt;!&ndash;        <div class="product-description" >&ndash;&gt;-->
<!--                &lt;!&ndash;          <span th:text="${product.getDescription()}">Description</span>&ndash;&gt;-->
<!--                &lt;!&ndash;        </div>&ndash;&gt;-->
<!--                <div class="product-category" >-->
<!--                    <span th:text="${product.getCategory()}">Category</span>-->
<!--                </div>-->
<!--                <hr>-->
<!--                <div class="product-id">-->
<!--                    <span th:text="${product.getUuid()}">Product Id</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->




<!--</div>-->
<!--&lt;!&ndash;&ndash;&gt;-->



<!--</body>-->
<!--</html>-->
